extends layout

block content
  
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
  
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  
  html
  head
  body
    nav.navbar.navbar-toggleable-md.navbar-inverse(style='background-color: #660033;').bg-faded
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |   
      a.navbar-brand(href='#') Movie Tickets
      |

      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          |       
          //-li.nav-item
            a.nav-link(href='#') Booking
          |       
          //-li.nav-item
            a.nav-link(href='#') 
          |       
          //-li.nav-item
            a.nav-link.disabled(href='#') Disabled
  
    form
      br
      .form-group
        label(for='Username') Username
        |     
        input#Username.form-control(aria-describedby='emailHelp', placeholder='Enter Username', type='text')
        |     
        
      .form-group
        label(for='Password') Password
        |     
        input#Password.form-control(placeholder='Password', type='password' ,aria-describedby='passwordHelpInline')
      |   
        
      button.btn.btn-primary(type='submit') Sign In 
      =" "
      button.btn.btn-inverse(style='background-color: #80FF00' , type='submit') Sign Up 

    



  