extends layout

block content
	
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
	
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')

	html
	head

	body(style='background-image: url("bg.jpg"); background-repeat: no-repeat; background-size:100%;')
		nav.navbar.navbar-toggleable-md.sticky-top.navbar-inverse(style='background-color: #660033;').bg-faded
			button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			|

			a.navbar-brand(href='/') Movie Tickets 4.0
			|

			#navbarNav.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item
						a.nav-link(href='/') Home 
							
					|       
					li.nav-item.active
						a.nav-link(href='/admin') Login as administrator 
					
					|
					li.nav-item
						a.nav-link(href='/login') Customer
					|              
	
	.container
		if message.length
			.alert.alert-danger= message
			

		form(action="/admin" ,method="post" )
		
			|
			.form-group
				label(for='username' style='margin : 10px 0px 0px 10px;') Username
				|
				.col-lg-10
					input#username.form-control( placeholder='Enter Username', type='text',name="username")
				|     
				
			.form-group
				label(for='Password'  style='margin : 0px 0px 0px 10px;') Password
				|     
				.col-lg-10
					input#password.form-control(placeholder='Password', type='password',name="password")

			|   
			.form-group
				button.btn.btn-info.btn-lg(type='submit') Login 
				=  ' '
				br
				br
				a.btn.btn-secondary(href='/signin' , role='button' ) Login as Customer

		



	
