extends layout

block content
  
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
  
  
  
  html
  head
  
  body
    nav.navbar.navbar-toggleable-md.navbar-inverse(style='background-color: #660033;').bg-faded
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |   
      a.navbar-brand(href='/') Movie Tickets
      |
  
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          |       
          //-li.nav-item
            a.nav-link(href='#') Booking
          |       
          //-li.nav-item
            a.nav-link(href='#') 
          |       
          //-li.nav-item
            a.nav-link.disabled(href='#') Disabled
    br
    h1= title
    br 
    .container
      form
        .form-group.row
          label.col-sm-2.col-form-label(for='emailRegis') Email
          |       
          .col
            input#emailRegis.form-control(placeholder='Email', type='email')
        |     
        .form-group.row
          label.col-sm-2.col-form-label(for='passwordRegis') Password
          |       
          .col
            input#passwordRegis.form-control(placeholder='Password', type='password')
        |     
        .form-group.row
          label.col-sm-2.col-form-label(for='fnameRegis') First Name
          |       
          .col
            input#fnameRegis.form-control(placeholder='First Name', type='text')
        |
        .form-group.row
          label.col-sm-2.col-form-label(for='lnameRegis') Last Name
          |       
          .col
            input#lnameRegis.form-control(placeholder='Last Name', type='text')
        |
        .form-group.row
          label.col-sm-2.col-form-label(for='telRegis') Tel.
          |       
          .col
            input#telRegis.form-control(placeholder='Tel.', type='text')
        |                  
        .form-group.row
          .offset-sm-2.col-sm-10
            a.btn.btn-primary(href='/' ,type='submit') Submit
  
    

    



  